unversioned*
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.mp
**/*.out
**/*.synctex.gz
**/*.top
**/*.tui
aita-posts-dataset.csv.gz
tmp
.DS_Store
tensorboard
main.pdf
*.pyc
*.p
*.pickle
*.fdb_latexmk
*.fls
*.tmp.nlogo
.idea
**/_*

# file formats
*.gz

# notebooks
.ipynb_checkpoints
Untitled*.ipynb
_*.ipynb
notebook/
notebook_additional/

# /paper
paper/**/*.pdf
paper/**/*.png
paper/**/*.jpg
paper/**/*.tif
paper/

# /data
data/**/*.wav
data/all_recording_files.csv
data/annotation_5min
data/annotation_5sec/annotations_SA_*
data/annotation_5sec/list_sample_72.csv
data/meteo_station
data/yamnet_*
data/208_file_recordings_paper_wind.tar

test_audio_files/

# /logs
logs

# /model
models/ffnn_classifier_yamnet
